*

# Repository root
!/.dockerignore
!/.gitignore
!/.nf-core.yml
!/Containerfile
!/CONTEXT.md
!/LICENSE
!/README.md
!/main.nf
!/mise.lock
!/mise.toml
!/modules.json
!/nextflow.config
!/nextflow_schema.json
!/nf-test.config
!/pixi.lock
!/pyproject.toml
!/uv.lock

# Mise tasks
!/.mise/
!/.mise/pixi-activate.sh
!/.mise/tasks/
!/.mise/tasks/**

# GitHub automation
!/.github/
!/.github/workflows/
!/.github/workflows/ci.yml
!/.github/workflows/release.yml

# Pipeline implementation
!/assets/
!/assets/**
!/bin/
!/bin/**
!/conf/
!/conf/**
!/modules/
!/modules/local/
!/modules/local/**
!/subworkflows/
!/subworkflows/nf-core/
!/subworkflows/nf-core/**
!/subworkflows/local/
!/subworkflows/local/**

# Tests
!/tests/
!/tests/**
