params {
    input            = null
    results          = "${launchDir}/results"
    skip_deacon      = false
    skip_sylph       = false
    skip_skope       = false
    skip_post_deacon = false
    monoimage        = 'nrminor/silly-fast-bfx:0.1.0.dev0'
    publish_dir_mode = 'copy'
    help             = false
    help_full        = false
    show_hidden      = false
    validate_params  = true
    version          = false
}

outputDir = params.results
workflow.output.mode = params.publish_dir_mode

report {
    enabled = true
    file = "${params.results}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.results}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.results}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.results}/pipeline_info/pipeline_dag.html"
    overwrite = true
}

// Bound aggregate scheduling for the default local executor. Grid executors
// use each process request from conf/modules.config and site-specific overrides.
executor.cpus = 8
executor.memory = '12 GB'

process {
    container = params.monoimage
    cpus = 1
    memory = '2 GB'
    disk = '10 GB'
    time = '4h'

    withName: DOWNLOAD_REFERENCE {
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: VALIDATE_SRACHA_RUN {
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withName: DOWNLOAD_SRACHA_FASTQ {
        errorStrategy = 'retry'
        maxRetries = 2
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
    containerless {
        docker.enabled = false
        apptainer.enabled = false
    }
    local {
        docker.enabled = false
        apptainer.enabled = false
    }
    test {
        process.executor = 'local'
        executor.cpus = 2
        executor.memory = '4 GB'

        process {
            resourceLimits = [
                cpus: 2,
                memory: 4.GB,
                disk: 5.GB,
                time: 24.h,
            ]
        }
    }
}

manifest {
    name            = 'nrminor/silly-fast-bfx'
    homePage        = 'https://github.com/nrminor/silly-fast-bfx'
    description     = 'Extremely fast metagenomics'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.04.6'
    version         = '0.1.0.dev0'
}

includeConfig 'conf/modules.config'

plugins {
    id 'nf-schema@2.5.1'
}
