params {
    results         = "${launchDir}/results"
    monoimage       = 'nrminor/silly-fast-bfx:0.1.0.dev0'
    help            = false
    help_full       = false
    show_hidden     = false
    validate_params = true
    version         = false
}

process {
    container = params.monoimage
    cpus = 1
    memory = '4 GB'
    disk = '20 GB'
    time = '4h'

    withLabel: process_low {
        cpus = 1
        memory = '4 GB'
        disk = '20 GB'
        time = '4h'
    }
    withLabel: process_medium {
        cpus = 6
        memory = '16 GB'
        disk = '100 GB'
        time = '12h'
    }
    withLabel: process_high {
        cpus = 20
        memory = '64 GB'
        disk = '300 GB'
        time = '24h'
    }
    withLabel: process_extra_high {
        cpus = 20
        memory = '256 GB'
        disk = '500 GB'
        time = '48h'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
    containerless {
        docker.enabled = false
        apptainer.enabled = false
    }
    local {
        docker.enabled = false
        apptainer.enabled = false
    }
    test {
        process.executor = 'local'
        executor.cpus = 2
        executor.memory = '4 GB'

        process {
            withLabel: process_low {
                cpus = 1
                memory = '2 GB'
                disk = '5 GB'
                time = '2h'
            }
            withLabel: process_medium {
                cpus = 2
                memory = '4 GB'
                disk = '5 GB'
                time = '8h'
            }
            withLabel: process_high {
                cpus = 2
                memory = '4 GB'
                disk = '5 GB'
                time = '12h'
            }
            withLabel: process_extra_high {
                cpus = 2
                memory = '4 GB'
                disk = '5 GB'
                time = '24h'
            }
        }
    }
}

manifest {
    name            = 'nrminor/silly-fast-bfx'
    homePage        = 'https://github.com/nrminor/silly-fast-bfx'
    description     = 'Extremely fast metagenomics'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.04.6'
    version         = '0.1.0.dev0'
}

plugins {
    id 'nf-schema@2.5.1'
}
