process {
    withName: 'FILTER_READS_WITH_DEACON' {
        publishDir = [
            [
                path: { "${params.results}/deacon/summaries/${reference.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.summary.json',
            ],
            [
                path: { "${params.results}/deacon/reads/${reference.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
            ],
        ]
    }

    withName: 'PROFILE_READS_WITH_SYLPH' {
        publishDir = [
            path: { "${params.results}/sylph/profiles/${reference.id}" },
            mode: params.publish_dir_mode,
            saveAs: { name -> name == 'versions.yml' ? null : name },
        ]
    }

    withName: 'SUMMARIZE_SYLPH_TAXONOMY' {
        publishDir = [
            path: { "${params.results}/sylph/taxonomy/${reference.id}" },
            mode: params.publish_dir_mode,
            saveAs: { name -> name == 'versions.yml' ? null : name },
        ]
    }

    withName: 'QUERY_READS_WITH_SKOPE' {
        publishDir = [
            path: { "${params.results}/skope/${reference.id}" },
            mode: params.publish_dir_mode,
            saveAs: { name -> name == 'versions.yml' ? null : name },
        ]
    }

    withName: 'RECORD_REFERENCE_CHECKSUMS' {
        publishDir = [
            path: { "${params.results}/references/${tool}/${reference.id}" },
            mode: params.publish_dir_mode,
            pattern: 'source.sha256',
        ]
    }
}
